body {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
     /* font-size: .6em;  */
     background: #cad4df;

}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img {
  border-radius: 50%;
     max-width: 50%;
}

myimg {
  height: 50%;
     width: 50%;
}

.rwd-video {
    background: #99CCFF;
    box-shadow: 15px 15px 10px #888888;
  }
  .rwd-video {
      height: 0;
      overflow: hidden;
      padding-bottom: 56.25%;
      padding-top: 30px;
      position: relative;
  }
  .rwd-video iframe,
  .rwd-video object,
  .rwd-video embed {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
  } 